*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Python
# chache
__pycache__

# .aws
.aws/config
.aws/credentials

# macOS
.DS_Store

# Windows
.Thumbs.db
Desktop.ini

# key file
*.pem
*.der
*.key
